<div class="center jumbotron">
<h1>いとう( ˙-˙ )WEB開発中</h1>
<h2>
    未経験からweb系統の技術を学習するのに役立つメンバー式ページ<br>
    随時機能追加予定。
  </h2>

  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("25012.jpg", alt: "Rails logo"),
'http://rubyonrails.org/' %>