<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "いとう( ˙-˙ )WEB開発中", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "よくある質問",    help_path %></li>
        <li><%= link_to "ログイン",'#' %></li>
      </ul>
    </nav>
  </div>
</header>